%h1 Welcome to Ten Percent News!

.stories
  - stories.each do |story|
    .story
      %h2.title= story.title
      - story.snippets.each do |snippet|
        .snippet
          .picture
            %img{src: snippet.picture_url, alt: snippet.picture_alt}
          .text= snippet.text

