.stories
  %a.add_story(href="/stories/new") Add story

  - stories.each do |story|
    .story
      .title
        %h2= story.title
      - story.snippets.each do |snippet|
        .row
          .pic
            %img{src: snippet.picture_url, alt: snippet.picture_alt}
          .snippet= snippet.text

