!!!html
%html
  %head
    %link(rel="styleSheet" href="/stylesheets/style.css" type="text/css")
    %link(href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css')

    %script(src='/javascripts/jquery.min.js')
  %body
    #header
      %h1 Ten Percent News

    =yield

    #footer
